{% extends 'AppTimesCalc/base.html' %}

{% block content %}

<h5>Your saved recipes</h5>

{% if conversion_list %}

    <ul class="list-group-flush">
        {% for x in conversion_list %}
            <li class="list-group-item">

                <a class="badge badge-primary" href="{% url 'converter:ConversionUpdate' x.id %}">Edit</a>
                <a class="badge badge-danger" href="{% url 'converter:ConversionDelete' x.id %}">Delete</a>
                {{ x.id }} - {{ x.conversion_name }} - {{ x.created_at }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No saved conversions</p>
{% endif %}

{% endblock %}