{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h5>Paste a recipe in metric or imperial and it will be converted in the other direction.</h5>
    <p>Use this to take recipes you have found on the web and convert to units familiar to you.</p>
<p>Tips to help the converter work properly:<p>
<li>Put ingredients on separate lines</li>
<li>and leave a single space between the ingredients and the method</li>
<br>

<form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Convert</button>
</form>
    
{% include 'AppTimesCalc/login_msg.html' %}
{% endblock %}