{% extends 'AppTimesCalc/base.html' %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<!--- required urls---->
<span hidden id=editor_urls
data_current_user="{{user.email}}"
data_current_store_id="{{store_id}}"
data_get_list_url="{% url 'store:editors_list' store_id %}" 
data_add_url="#" 
data_delete_url="#" 
></span>

<div class="container">
    <div class="row">
        <div class="col-sm">

        <h2>{% trans 'Editors for' %} {{ store_name }}</h2>
        <h5>{% trans 'Add a new editor' %}</h5>

        <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <input type="email" id="newEmail" class="form-control" id="add_editor_email" aria-describedby="emailHelp" placeholder="{% trans 'Enter email' %}">
                <small id="emailHelp" class="form-text text-muted">{% trans 'This person must already be registered on the site' %}</small><br>
                <button type="submit" id="addBtn" class="btn btn-primary">{% trans 'Add' %}</button>
            </div>
        </form>
        <a href="#" onclick="history.go(-1)">{% trans 'Go Back' %}</a></br>

        </div>

        <div class="col-sm">

        <p>{% trans 'You are' %} {{user.email}}</p>
        <h5>{% trans 'People who can add events to your store' %}</h5>

        <ul class="list-group list-group-flush" id='editors'>
            <!---Editors list goes here-->
        </ul>
        <br>
        <p id="successMsg">
            <!----Success message goes here-->
        </p>
        </div>
    </div>
</div>

<script>
    var csrftoken = '{{ csrf_token }}';
</script>

<script src = "{% static 'stores/js/editors.js' %}">
</script>

{% endblock %}