{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!---- adapted from
https://www.tutorialrepublic.com/html-tutorial/html5-geolocation.php
https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
https://www.youtube.com/watch?v=fEYx8dQr_cQ for the tutorial
--->

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm-8">
                <div id="result" class="alert alert-info" role="alert">
                    Getting your position...
                </div>

            <form>
                {{ form|crispy}}
            </form>

            <ul id='store_list' class="list-group-flush">
                    <!--Storelist information will be inserted here-->
                </ul>
        </div>

        <div class="col-sm">
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script>
$(document).ready(function(){
    var result, lat, lon;
    var success_url = 'process_loc';

    // Store the element where the page displays the result
    result = document.getElementById("result");

    // If geolocation is available, try to get the visitor's position
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        result.innerHTML = "Getting your position...";
    } else{
        alert("Sorry, your browser does not support HTML5 geolocation.");
    }

    $('#id_search_distance').on('change', function(){
        populateList()
    })

    function successCallback(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        result.innerHTML = "Found your location"
        $(result).delay(2000).hide(500);
        populateList()
    }

    function errorCallback(){
        result.innerHTML = "Could not find your location, sorry."
    }

    function populateList(){
        var $my_list = $('#store_list')
        $.ajax({
            type: "GET",
            url: success_url,
            data:{
                'lat': lat,
                'lon': lon,
                'search_distance': $('#id_search_distance').val(),
            },
            dataType : "json",
            success: function(stores) {
                $my_list.empty()
                $.each(stores, function(i, store){
                    var new_row = '<li class="list-group-item">' + 
                    store.name + ', ' + 
                    store.distance + ' km<br><small>'  +
                    store.friendly_address + '</small> ' +
                    '<a class="badge badge-primary" href='+ store.id + '/profile>store profile</a> ' +
                    '<a class="badge badge-secondary" href=https://www.google.com/maps/search/?api=1' +
                    store.search_url + '>find on map</a>' +
                    '</li>'

                    $my_list.append(new_row)
                })
            },
        })

    }
});

</script>


{% endblock %}