{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!---- adapted from
https://www.tutorialrepublic.com/html-tutorial/html5-geolocation.php
https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
https://www.youtube.com/watch?v=fEYx8dQr_cQ for the tutorial
--->

<div id="mainPart">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
$(document).ready(showPosition)
var result, lat, lon;
var success_url = 'process_loc';

function showPosition(){
    // Store the element where the page displays the result
    result = document.getElementById("result");

    // If geolocation is available, try to get the visitor's position
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        result.innerHTML = "Getting the position information...";
    } else{
        alert("Sorry, your browser does not support HTML5 geolocation.");
    }
}

function successCallback(position) {
    lat = position.coords.latitude;
    lon = position.coords.longitude;
    result.innerHTML = "Your current position is (" + "Latitude: " + lat + ", " + "Longitude: " + lon + ")";

    $.ajax({
        type: "GET",
        url: success_url,
        data:{
            'lat': lat,
            'lon': lon
        },
        dataType : "json",
        success: function(data) {
            console.log('success', data)

        }
    })


}

function errorCallback(){
    alert('Failed')
}

</script>

<div id="result">
    <!--Position information will be inserted here-->
</div>

{% endblock %}