{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">

            <h1>{{ store.name }}</h1>
            <h5>{{ store.OSM_storetype.icon_text|safe }} <span class="badge badge-light">{{ store.OSM_storetype.type_text|capfirst }}</span></h5>

            {% if store.website %}
                <a href="{{ store.website }}">{{ store.website }}</a><br>
            {% endif %}

            {% if store.my_address %}
                {{ store.my_address}}<br>
            {% endif %}

            <a class="badge badge-secondary" href="{{ store.search_url }}">MAP</a>
            <br><br>

            {% if user.is_authenticated %}
                <div id="like-section">
                    {% include 'stores/like_section.html' %}
                </div>
            {% else %}
                <p>{% trans 'Please login to like this store' %}<a href="{% url 'account_login' %}">Login </a></p>
            {% endif %}

            <br>
            {% if user in editors %}
                <h5>{% trans "Owner Section" %}</h5>
                <p>{% blocktrans %}Welcome, {{user}}. You have the following options: {% endblocktrans %}</p>
                <p>
                    <a href='{% url 'store:editors' store.id %}'>{% trans "List or change your authorised users" %}</a><br>
                    <small>{{ editors_count }} {% trans "authorised user(s)" %} </small>
                </p>

                <p>
                <a href='{{ store.events_url }}'>{% trans "List or edit your events" %}</a><br>
                <small>{{ upcoming_count }} {% trans "live or future events" %}, {{ all_count }} {% trans "total" %}</small>
                </p>

                <p>
                <a href="https://www.openstreetmap.org/node/{{ store.OSM_ID }}">{% trans 'Edit on OpenStreetmap'%}</a><br>
                <small>{% trans 'Requires OpenStreetMap account. Changes will appear here within 48 hours.'%}</small>
                </p>

            {% else %}
                <a href="{% url 'store:store_launch_info'%}">{% trans "How to claim this store"%}</a>
            {% endif %}
        </div>

        <div class="col-sm">
            {% if events %}

                <div class="card">

                    <div class="card-header">{% trans 'Current Events (as seen in the newsletter)' %}</div>

                    <div class="card-body">
                    
                        <ul>
                            {% for event in events %}
                                <li class="list-group-item border-0">
                                    <span class="text-info">
                                    {{ event.title }}<br>
                                    </span>
                                    <small>

                                    {{ event.comment }} <br>

                                    {% if event.includes_offers %}
                                        <span class="text-info">Includes Offers</span><br>
                                    {% endif%}

                                    {{ event.start_date }} - {{ event.end_date}}

                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 
                </div> 
            {% endif %}
        </div>
    </div>
</div>
<!--src="{% static 'stores/js/profile.js' %}"-->

<script>
    var csrftoken = '{{ csrf_token }}';
    var store_like_url = "{% url 'store:store_like' %}"
</script>

<script src="{% static 'stores/js/profile.js' %}">
</script>

{% endblock %}