{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ store.name }}</h1>
{% if store.my_address %}
    <p>{{ store.my_address}}</p>
{% else %}
    <small>
    <a href="https://www.openstreetmap.org/node/{{ store.OSM_ID }}">No address - edit on Open Streetmap (requires OSM account)?</a>
    </small>
{% endif %}

<form action="{% url 'store:store_like' store.id %}" method="POST">
    {% csrf_token %}
    {% if is_liked %}
        <button type='submit' class='btn btn-warning'>UNLIKE</button>
    {% else %}
        <button type='submit' class='btn btn-primary'>LIKE</button>
    {% endif %}
</form>

<p>Likes: {{ store.likes.count }}</p>
{% endblock %}