astroid==2.2.5
autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
django-autocomplete-light==3.3.5
django-bootstrap-datepicker-plus==3.0.5
django-crispy-forms==1.7.2
django-ipware==2.1.0
django-taggit==1.1.0
djangorestframework==3.9.4
docopt==0.6.2
geographiclib==1.49
geoip2==2.9.0
geopy==1.20.0
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
maxminddb==1.4.1
mccabe==0.6.1
num2words==0.5.10
oauthlib==3.0.1
pycodestyle==2.5.0
pylint==2.3.1
pylint-django==2.0.9
pylint-plugin-utils==0.5
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
rope==0.14.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.3.5
urllib3==1.25.3
wincertstore==0.2
wrapt==1.11.1
