{% extends 'AppTimesCalc/base.html' %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm-6">
            <h3>{% trans "Change Password" %}</h3>
            <p>{% trans 'Your password is now changed.' %}</p>
            <a href="{% url 'account_login' %}">Login</a>
        </div>

        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}
