{% extends 'AppTimesCalc/base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-3 d-none d-md-block">
        </div>

        <div class ="col">
            <h3>{% trans "Sign-up" %}</h3>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
            <!-----{% include "account/snippets/how_we_use.html" %}----->
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary">{% trans "Sign Up" %}</button>
            </form>
        </div>

        <div class="col-3 d-none d-md-block">
        </div>

    </div>
</div>



{% endblock %}