h1, h2, h3, h4 {
    color: #1AB31F;
}

h5 {
    color: #1AB31F;
}

body {
    font-family: 'Quicksand', Sans-Serif ;
}

input {
  text-align: left;
  width: 10%;
}

#paulstestid {
  size: 25;
  color: blue;
  background-color: yellow;
}