{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'Cooking Helpers Weekly Newsletter'%}</title>
</head>

<body>

<p>{% trans 'Your weekly local info from '%}<a href='https://www.cooking-helpers.com/'>Cooking Helpers</a></p>

{% for event in events %}
    {% ifchanged %}
        <h3>{{ event.store.name}} - <a href="{{ event.store.search_url}}"> {{ event.store.my_address}}</a></h3>

    {% endifchanged %} 
    <p style="color:Black;margin-left:40px;">{{ event.title }} {% trans 'effective'%}
    {{ event.start_date }} {% trans ' to '%} {{ event.end_date }}
    {% if event.includes_offers %}
        <span style="color:MediumPurple;"><strong>{% trans '(includes an offer)'%}</strong></span>
    {% endif %}  
    
    <br>
    <small>{{ event.comment }} </small>
    
    </p>

{% endfor %}

<p>{% trans 'Your search radius '%}{{ search_dis }} <br>
<a href="{{ profile_url }} ">{% trans 'Change your preferences or unsubscribe'%}</a></p>
<p>{% trans 'Thankyou for visiting '%}<a href='https://www.cooking-helpers.com/'>Cooking Helpers</a></p>

</body>
</html> 