{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<style>
    body {
    font-family: 'Roboto', sans-serif;
    }
</style>

<title>{% trans 'Cooking Helpers Weekly Newsletter'%}</title>

</head>

<body>
<img class="card-img-top" src="{% static 'AppTimesCalc/ch_nl_header.jpg' %}" alt="Card image cap">
<h2>{% trans 'Your weekly local info from'%} <a href='{{ base_url }}'>Cooking Helpers</a></h2>
<p>Thanks for supporting you local stores! Here are specials and events from stores near you this week.</p>

{% for event in events %}
    {% ifchanged %}
        <h3><a href="{{ base_url }}{{ event.store.get_absolute_url}}">{{ event.store.name}} 
        
        {% if event.store.my_address %}
            - {{ event.store.my_address }}
        {% endif %}
        
        </a></h3>
    {% endifchanged %} 
    
        <p style="color:Black;margin-left:40px;">{{ event.title }}, {% trans 'until'%} {{ event.end_date }}. 
    
    {% if event.includes_offers %}
        <span style="color:MediumPurple;"><strong> {% trans 'offer!'%}</strong></span>
    {% endif %}
    {{ event.comment }} </p>
{% endfor %}

<p>{% trans 'Your search radius'%} {{ search_dis }}<p>
<p><a href="{{ profile_url }}">{% trans 'Change your preferences or unsubscribe'%}</a></p>
<p>{% trans 'Thanks for using cooking-helpers.com'%}</p>

</body>
</html> 