{% extends 'AppTimesCalc/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post">
    {% csrf_token %}
<div class="container">
  <div class="row">

    <div class="col-sm">
        <button class="btn btn-primary" type="submit">Save all changes and close</button><br>
        <a href="/">Close without saving</a>
        <br><br>
        {{ user_form|crispy }}
        {{ profile_form.local_offer_receive|as_crispy_field}}
        {{ profile_form.local_offer_radius|as_crispy_field}}
        If you would like to get the offers newsletter, please make sure we can find your address.
    </div>
    
    <div class="col-sm">

        {{ profile_form.house_number|as_crispy_field}}
        {{ profile_form.street|as_crispy_field}}
        {{ profile_form.add_2|as_crispy_field}}
        {{ profile_form.add_3|as_crispy_field}}
        {{ profile_form.add_city|as_crispy_field}}
        {{ profile_form.add_postcode|as_crispy_field}}
        {{ profile_form.add_country|as_crispy_field}}
        <button id="btn_find_address" type="button" class="btn btn-secondary">Find Address</button>
        {{ profile_form.found_address|as_crispy_field }}


    </div>
</div>
</form>
<script>
  $(function (){
  
  $('#btn_find_address').on('click', function(){
    var my_addr = {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      house_number: $('#id_house_number').val(),
      street: $('#id_street').val(),
      add_2: $('#id_add_2').val(),
      add_3: $('#id_add_3').val(),
      city: $('#id_add_city').val(),
      postcode: $('#id_add_postcode').val(),
      country: $('#id_add_country').val(),
    }
    
    console.log(my_addr)

    $.ajax({
      type: 'POST',
      url: "/users/check_address",
      data: my_addr,
      success: function(data){
        if (data.success == true) {
          $('#id_found_address').val(data.found_address).slideDown(200)
        } else {
          $('#id_found_address').val('Unknown address, please try again')
        }
        }
    })
  })
})
</script>
{% endblock %}