{% extends 'AppTimesCalc/base.html' %}
{% block content %}
    <p>This site is in beta for now.</p>
    <h4>Contact</h4>
    <p>Paul Matthews<br>
    Godeffroystraße 22, 22587 Hamburg, Germany<br>
    <a href="mailto:matthpau@gmail.com?subject=Cooking%20Helpers">matthpau@gmail.com</a><p>
    <h4>Credits</h4>
    <p>Meat roasting times from <a href="https://edmondscooking.co.nz/cookery-books/">Edmonds Cookbook, 35th edition</edition></a><br>
    Images from <a href="https://unsplash.com/">unsplash.com</a></p>
{% endblock %}