{% extends 'AppTimesCalc/base.html' %}
{% block content %}
    <h4>Contact</h4>
    <p>Paul Matthews<br>
    <a href="mailto:matthpau@gmail.com?subject=Cooking%20Helpers">matthpau@gmail.com</a><p>
    <h4>Credits</h4>
    <p>Meat roasting times from <a href="https://edmondscooking.co.nz/cookery-books/">Edmonds Cookbook, 35th edition</edition></a></p>
    <p>Images from <a href="https://unsplash.com/">unsplash.com</a></p>
    <p>This product includes GeoLite2 data created by MaxMind, available from
        <a href="https://www.maxmind.com">https://www.maxmind.com</a></p>
    <p>Store listing data sourced from  <a href="https://wiki.openstreetmap.org/wiki/Overpass_API">OpenStreetMap</a>
    </p>
{% endblock %}