{% extends 'AppTimesCalc/base.html' %}
{% block content %}
{% load i18n %}
    <h4>{% trans 'Contact' %}</h4>
    <p>Paul Matthews<br>
    <a href="mailto:matthpau@gmail.com?subject=Cooking%20Helpers">matthpau@gmail.com</a><br>
    Godeffroystraße 22, 22587 Hamburg, Deutschland</p>
    <h4>{% trans 'Credits' %}</h4>
    <p>{% trans 'Meat roasting times from' %} <a href="https://edmondscooking.co.nz/cookery-books/">Edmonds Cookbook, 35th edition</edition></a></p>
    <p>{% trans 'Images from' %} <a href="https://unsplash.com/">unsplash.com</a></p>
    <p>{% trans 'This product includes GeoLite2 data created by MaxMind, available from' %}
        <a href="https://www.maxmind.com">https://www.maxmind.com</a></p>
   
    <p>{% trans 'Store listing data sourced from' %} <a href="https://www.openstreetmap.org">OpenStreetMap</a><br>
    © OpenStreetMap contributors<br>
    <a href="https://www.openstreetmap.org/copyright">OpenStreetMap Copyright information</a></p>

    <h4>Haftung für Inhalt</h4>
    <p>Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Absatz 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

    <h4>Haftung für externe links</h4>
    <p>Unser Angebot enthält Links zu Websites Dritter („externe Links“), auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Webseiten ist stets der jeweilige Anbieter oder Betreiber verantwortlich. Die verlinkten Websites wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Websites ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>  
    
    <h4>Urheberrecht</h4>
    <p>Die durch den Diensteanbieter erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Website sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Website nicht vom Diensteanbieter erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
    <p>Alle Bilder auf dieser Website sind uns entweder mit vollen Nutzungsrechten von den Mitarbeitern zu Verfügung gestellt worden; oder von Unsplash oder Depositphotos in Übereinstimmung mit deren respektiven AGBs an dem Tag lizenziert worden, wo diese Website zum ersten Mal gelaunched wurde.</p>










{% endblock %}