{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Bootstrap JS - query slim not needed, provided above-->
    <!---<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>--->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    
    <!-- Other CSS -->
    <link rel="stylesheet" href="{% static 'AppTimesCalc/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'AppTimesCalc/favicon.png' %}" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/265fe36e81.js"></script>

    {% block extrahead %}
    {% endblock %}

    <title>Cooking Helpers</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D0E7ED;">
        <a class="navbar-brand" href="/">Cooking Helpers <i style="color: #13496C;" class="fas fa-utensils"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Calculators</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'Calculator_w' %}">By weight</a>
                    <a class="dropdown-item" href="{% url 'Calculator_p' %}">By number of people</a>
                    <a class="dropdown-item" href="{% url 'MealPlanList' %}">My saved meal plans</a>
                </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipe Converter</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'converter:recipe_converter' %}">Converter</a>
                    <a class="dropdown-item" href="{% url 'converter:saved_conversions' %}">My saved conversions</a>
                    <a class="dropdown-item" href="{% url 'converter:ConverterAbout' %}">How it works</a>
                </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Store Directory</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'store:get_loc' %}">Find stores near me</a>
                </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'users:profile' %}">My profile</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
                </li>

                <li>
                    <a class="nav-link" href="{% url 'About' %}">About</a>
                </li>

            </ul>
        </div>
    </nav>
<br>
<!---
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}
--->

{% block content %}
{% endblock %}
{% if user.is_authenticated %}
    <small class="text-info">Logged in as {{ user.username }} | <a href="{% url 'account_logout' %}">logout</a></small>
{% endif %}

</div>


<script>
$(document).ready(function() {
    $(".alert").delay(5000).slideUp(500)
})
</script>


</body>
</html>
