{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}
{{ form1.media }}
{% endblock %}

{% block content %}

<!--https://getbootstrap.com/docs/4.3/layout/grid/-->

<form method="POST">
    {% csrf_token %}
    <h5>Tell me about your meal</h5>
            {{form1|crispy}}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <button class="btn btn-primary btn-block" type="submit" name= "Calculator2">Calculate</button>
            </div>
        </div>
    </div>

</form>

{% include 'AppTimesCalc/login_msg.html' %}

{% endblock %}

