{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}
{{ form1.media }}
{% endblock %}

{% block content %}

<!--https://getbootstrap.com/docs/4.3/layout/grid/-->

<h5>Tell me about your meal</h5>
<form method="POST" id="meal_calc_form" data-cooking-level-url="{% url 'ajax_load_cooking_levels' %}">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{form1.MeatType|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form1.CookingLevel|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form1.EatingTime|as_crispy_field}}
            </div>
        </div>

        {% if form1.non_field_errors %}
            <br>
            <div class="alert alert-danger" role="alert">
              {% for error in form1.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
      {% endif %}

        {%if form1.Weight_kg %}

            <div class="row">
                <div class="col-md-4">
                    {{form1.Weight_kg|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{form1.Weight_lb|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{form1.Weight_g|as_crispy_field}}
                </div>
            </div>

        {% else %}

            <div class="row">
                <div class="col-md-6">
                    {{form1.CountAdults|as_crispy_field}}
                </div>
                <div class="col">
                    {{form1.CountChildren|as_crispy_field}}
                </div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-md-4 col-lg-2">
                <button class="btn btn-primary btn-block" type="submit" name= "Calculator2">Calculate</button>
            </div>
        </div>
    </div>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#id_MeatType").change(function () {
  var url = $("#meal_calc_form").attr("data-cooking-level-url");  // get the url of the `load cooking levels` view
  //console.log(url)
  var meat_type_id = $(this).val();  // get the selected meat type ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/AppTimesCalc/)
    data: {
      'MeatTypeID': meat_type_id       // add the cooking_levelID to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `cooking levels` view function
      $("#id_CookingLevel").html(data);  // replace the contents of the cooking level input with the data that came from the server
    }
  });
});
</script>

{% endblock %}

