{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% load i18n %}

<div class="container">
  <div class="row">
        <div class="col-sm col-md-8">
            <h3>{% trans 'Selections and quantity' %}</h3>
            <ul class="list-unstyled">
                <li>{% trans 'Meat type: ' %} {{calc_inputs.MeatType}}</li>
                <li>{% trans 'Cooking level: ' %} {{calc_inputs.CookingLevel}}</li>


                {% if calc_outputs.CalcType == 'byPerson' %}
                    <li>{% trans 'Given number of adults: ' %}{{calc_inputs.CountAdults}}</li>
                    <li>{% trans 'Given number of children: ' %}{{calc_inputs.CountChildren}}</li>
                    <li>{% trans 'Standard portion size adult: ' %}{{calc_outputs.Portion_gPerAdult}}</li>
                    <li>{% trans 'Standard portion size child: '  %}{{calc_outputs.Portion_gPerChild}}</li>
                    <li class="p-2 mb-2 bg-info text-white">{% trans 'Required quantity of meat: ' %}{{calc_outputs.InputWeight}} / {{calc_outputs.WeightStandardlb}} </li>

                {% else %}
                    <li>{% trans 'Given weight: ' %} {{calc_outputs.InputWeight|lower}}</li>
                    <li>{% trans 'Standard portion size adult: ' %}{{calc_outputs.Portion_gPerAdult}}</li>
                    <li class="p-2 mb-2 bg-info text-white">{% trans 'Estimated number of adults this will feed: ' %}{{calc_outputs.calcAdults}}</li>

                {% endif %}
            </ul>

            <h3>{% trans 'How to cook it' %}</h3>
            
            <ul class="list-unstyled">
                <li>{% trans 'Total cooking and preparation time: ' %}{{calc_outputs.TotalTime}}</li>
                <li class="p-2 mb-2 bg-info text-white">{% trans 'Turn the oven on at: ' %}{{calc_outputs.StartTime}}</li>
                <li>{% trans 'Oven temperature: ' %}{{calc_outputs.OvenTemp}}</li>
                <li>{% trans 'Let the oven warm up for: ' %}{{calc_outputs.WarmupTime}}</li>
                <li>{% trans 'Put the meat in the oven at: ' %}{{calc_outputs.MeatInTime}}</li>
                <li>{% trans 'Let the meat cook for: ' %}{{calc_outputs.CookingTime}}</li>
                <li>{% trans 'Take the meat out at: ' %}{{calc_outputs.RemoveTime}}</li>
                <li>{% trans 'The internal temperature of the meat should be: ' %}{{calc_outputs.InternalTemp}}. {% trans 'The meat will continue to cook during resting, but if you need to, put it in the oven a little longer.' %}</li>
                <li>{% trans 'Let the meat rest for: ' %}{{calc_outputs.RestTime}}</li>
                <li class="p-2 mb-2 bg-info text-white">{% trans 'Serve it to your guests at: ' %}{{calc_outputs.EatingTime}}</li>
            </ul>
         </div>

        <div class="col">
            <div class="alert alert-primary" role="alert">
                {% trans 'Please be sure to save this meal and rate it afterwards so we can improve our suggestions.' %}
            </div>

                <form method="POST" action = "/MealPlannerSaved">
                    {% csrf_token %}
                        <p>{{form.MealComment}}</p>
                    <button type="submit" class="btn btn-primary">{% trans 'Save this meal' %}</button>
                </form>
        </div>
    </div>
</div>

{% endblock %}