{% extends 'AppTimesCalc/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">

    <a href="{% url 'store:get_loc' %}">
    <div class="row justify-content-center">
        <p class="lead text-center">{% trans 'Welcome - try out the store search to support your local stores'%}</p>
    </div>
    </a>

    <div class="card-deck">

        <div class="card text-center">
         <a href="{% url 'users:profile' %}">
            <img class="card-img-top" src="{% static 'AppTimesCalc/markus_wink.jpg' %}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">{% trans 'Support your local stores - sign up for our newsletter to get information from stores nearby (requires account)' %}<br>
            </div>
            <div class="card-footer">
                <a href="{% url 'users:profile' %}" class="btn btn-primary">{% trans 'Newsletter' %}</a><br>
            </div>
        </div>

        <div class="card text-center">
         <a href="{% url 'converter:recipe_converter' %}">
            <img class="card-img-top" src="{% static 'AppTimesCalc/recipebook.jpg' %}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">{% trans 'Convert any recipe or ingredients list from metric to imperial and vice verse (requires account)' %} <br>
                <a href="{% url 'converter:ConverterAbout' %}" class=class="card-link">{% trans 'How it works' %}</a></p>
            </div>
            <div class="card-footer">
                <a href="{% url 'converter:recipe_converter' %}" class="btn btn-primary">{% trans 'Do a conversion' %}</a><br>
            </div>
        </div>


        <div class="card text-center">
            <a href="{% url 'Calculator_w' %}">
                <img class="card-img-top" src="{% static 'AppTimesCalc/roastpork.jpg' %}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">{% trans 'Meat cooking calculator, if you already know how much meat you plan to prepare.' %}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'Calculator_w' %}" class="btn btn-primary">{% trans 'Calculate' %}</a>
            </div>
        </div>

        <div class="card text-center">
            <a href="{% url 'Calculator_p' %}">
                <img class="card-img-top" src="{% static 'AppTimesCalc/dinnerparty.jpg' %}" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">{% trans 'Meat cooking calculator, if you know how many guests you have.' %}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'Calculator_p' %}" class="btn btn-primary">{% trans 'Calculate' %}</a>
            </div>
        </div>


    </div>

</div>

{% endblock %}