{% extends 'AppTimesCalc/base.html' %}
{% load static %}

{% block content %}
<h1>Welcome!</h1>
<p>You can start by trying out the meat cooking time calculators.</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'AppTimesCalc/mike-tinnion-365019-unsplash.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">If you already know how much meat you plan to prepare</p>
                    <a href="/Calculator_w" class="card-link">Calculate</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'AppTimesCalc/antenna-502693-unsplash.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">If you know how many guests you have and want to calculate how much you need</p>
                    <a href="/Calculator_p" class=class="card-link">Calculate</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'AppTimesCalc/login_msg.html' %}
{% endblock %}