{% extends 'AppTimesCalc/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container">
         <div class="row">
            <div class="col">
            </div>


            <div class="col-sm6">
                <h5>You did a calculation for {{form.instance.InputWeight }} of {{form.instance.MeatType|lower }}
                    cooked {{form.instance.CookingLevel|lower }},
                    saved on {{form.instance.created_at }}</h5>

                {{form.PlanName|as_crispy_field }}
                {{form.RatingStars|as_crispy_field }}
                {{form.RatingResult|as_crispy_field }}
                {{form.RatingComment|as_crispy_field }}

                <button class="btn btn-primary" type="submit">Save</button>
            </div>

            <div class="col">
            </div>
        </div>
    </div>


</form>

{% endblock %}
