{% extends 'AppTimesCalc/base.html' %}

{% block content %}

    <h2>Meal Plans</h2>

    {% for x in object_list%}
        <p>
            {{x.id}} {{x.PlanName}}, saved {{x.created_at}}

            <!----
            <a class="badge badge-primary" href="{{ x.get_absolute_url }}">View</a>
            Alternative view...
            <a class="badge badge-primary" href="{% url 'MealPlanDetail' x.id %}">View2</a>
            ---->
            <a class="badge badge-primary" href="{% url 'MealPlanUpdate' x.id %}">View or give a rating</a>
            <a class="badge badge-danger" href="{% url 'MealPlanDelete' x.id %}">Delete</a>
        </p>

    {% endfor%}

{% include 'AppTimesCalc/login_msg.html' %}

{% endblock %}